#kegList {
  text-align: center;
  border-collapse: collapse; 
  border: 3px solid #ddd;
  width: 100%;
}

#kegList td, #keglist th {
  border: 1px solid #ddd;
  padding: 8px;
}

#kegList tr:nth-child(even){background-color: #f2f2f2;}

#kegList tr:hover {background-color: #ddd;}

#kegList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: black;
  color: white;
}
